<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=MIHAICRISTI8E18\SQLEXPRESS; Initial Catalog=DBMS; Integrated Security=True; TrustServerCertificate=True"/>
	</connectionStrings>
	
	
	<appSettings>
		<add key="ParentTable" value="Worker"/>
		<add key="ParentPrimaryKey" value="Id"/>

		<add key="ChildTable" value="Bonus"/>
		<add key="ChildPrimaryKey" value="Id"/>
		<add key="ChildForeignKey" value="Wid"/>

		<add key="ChildNoOfColumns" value="1"/>
		<add key="ChildColumns" value="sum"/>

		<add key="QuerySelectParent" value="SELECT * FROM Worker" />
		<add key="QueryCheckParentExists" value="SELECT COUNT(*) FROM Worker WHERE id = @WorkerId" />

		<add key="QuerySelectChild" value="SELECT * FROM Bonus" />
		<add key="QuerySelectChildForParent" value="SELECT id, wid, sum FROM Bonus WHERE wid = @WorkerId" />
		<add key="QueryInsertChild" value="INSERT INTO Bonus (wid, sum) VALUES (@wid, @sum)" />
		<add key="QueryUpdateChild" value="UPDATE Bonus SET wid = @Wid, sum = @Sum WHERE id = @Id" />
		<add key="QueryDeleteChild" value="DELETE FROM Bonus WHERE id = @Id" />
	</appSettings>
	

	<!--
	<appSettings>
		<add key="ParentTable" value="Book"/>
		<add key="ParentPrimaryKey" value="Id"/>

		<add key="ChildTable" value="Review"/>
		<add key="ChildPrimaryKey" value="Id"/>
		<add key="ChildForeignKey" value="Bid"/>

		<add key="ChildNoOfColumns" value="1"/>
		<add key="ChildColumns" value="content"/>

		<add key="QuerySelectParent" value="SELECT * FROM Book" />
		<add key="QueryCheckParentExists" value="SELECT COUNT(*) FROM Book WHERE id = @BookId" />

		<add key="QuerySelectChild" value="SELECT * FROM Review" />
		<add key="QuerySelectChildForParent" value="SELECT id, bid, content FROM Review WHERE bid = @BookId" />
		<add key="QueryInsertChild" value="INSERT INTO Review (bid, content) VALUES (@bid, @content)" />
		<add key="QueryUpdateChild" value="UPDATE Review SET bid = @Bid, content = @Content WHERE id = @Id" />
		<add key="QueryDeleteChild" value="DELETE FROM Review WHERE id = @Id" />
	</appSettings>
	-->

</configuration>
